{% extends './layout.html' %}
{% block body %}
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-container">
      <h1>Methods</h1>
      <p>24 methods to solve numerical problems</p>
      
      <h2>Chapter 1: Theory of Errors</h2>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Bisection</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Fixed Point</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">False rule</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Newton</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Secant</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Multiple Roots</button>

      <h2>Chapter 2: Numerical Solution of Nonlinear Equations</h2>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Jacobi</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Gauss seidel</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Sor</button>¿
</button>

      <h2>Interpolation</h2>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Vandermonde</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Newton (Divided difference method)</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Lagrange</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Spline (linear, square and cubic)</button>
      
    </div>
  </div>
</div>
{% endblock %}