{% extends './layout.html' %}
{% block body %}
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-container">
      <h1>Metodos</h1>
      <p>24 methods to solve numerical problems</p>
      
      <h2>Capítulo 1: Teoría de errores</h2>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Bisección</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Punto Fijo</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Regla Falsa</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Newton</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Secante</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Raíces multiples</button>

      <h2>Capítulo 2: Solución numérica de ecuaciones no lineales</h2>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Jacobi</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Gauss seidel</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Sor</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Direct Factorization LU - simple</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Direct Factorization LU - partial</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Croult</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Doolittle</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Cholesky</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Iterative methods (Jacobi, Gauss-Seidel & SOR)
</button>

      <h2>Interpolation</h2>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Vandermonde</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Newton (Divided difference method)</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Lagrange</button>
      <button class="w3-button w3-round-xlarge w3-red w3-padding-large w3-large w3-margin-top">Spline (linear, square and cubic)</button>
      
    </div>
  </div>
</div>
{% endblock %}